body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #333;
    background: #fff;
}

.page-header {
    background-color: #777777;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.formulate {
    margin-bottom: 1px;
    border: 1px #fffee8 solid;
    width: 80%;
    height: 105px;
}

.formulate h1 a, .formulate h1 a:visited {
    color: #000000;
}

.leftpost {
    float:left;
}

.leftpost img{
    width: 100px;
    max-height: 100px;
    margin-right: 2px;
}

.rightpost, .rightpost a {
    vertical-align: top;
}
