{% extends 'formulate/formulate_base.html' %}

{% block content %}
  {% for formulate in formulates %}
      <div class="formulate" >
          <span class="leftpost">
            <img src="{{ formulate.image.url }}" alt="{{ formulate.image.url }}"></img>
          </span>
          <span class="rightpost">
              <h2><a href="{% url 'formulate_detail' pk=formulate.pk %}">{{ formulate.title }}</a></h2>
              {{ formulate.catagory }} 公告日期: {{ formulate.published_date }} / 建立日期 : {{ formulate.created_date }}
          </span>
      </div>
  {% endfor %}
{% endblock %}
