{% extends 'formulate/formulate_base.html' %}

{% block content %}
  {% for formulate in formulates %}
      <div class="post">
          <p>{{ formulate.catagory }} published: {{ formulate.published_date }} / Created : {{ formulate.created_date }}</P>
          <div class="leftimg">
              <img scr=" {{ formulate.image }}" alt="縮圖"></img>
          </div>
          <div class="righttitle">
              <h2><a href="{% url 'formulate_detail' pk=formulate.pk %}">{{ formulate.title }}</a></h2>
          </div>
      </div>
  {% endfor %}
{% endblock %}
